* {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

body {
    background: #FBAD18;
    overflow-x: hidden;
}

body * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 996px;
    max-width: 100%;
}

.logo {
  margin-top: 7rem;
}

.logo img {
    width: 480px;
    max-width: 100%;
}

.cover-content {
    font-size: 1.25rem;
    color: white;
}

.app-download-links {
    margin-top: 5rem;
    margin-bottom: 49.3vh;
}

.play-store {
    width: 164px;
    margin-right: 5rem;
}

.app-store {
    width: 144px;
}

footer {
    margin: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    color: white;
    padding: 0.5rem;
    width: 100%;
}

@media screen and (max-width: 568px) {
    .play-store {
        margin-right: auto;
        display: block;
        width: 164px;
        margin-bottom: 1rem;
    }

    .app-store {
        width: 160px;
        display: block;
    }
}